{% extends 'base.html.twig' %}

{% block body %}
    <div class="homepage">
        <div class="introduction">
            <h1>Romain Ferjule<br>Web Developer</h1>
            <p>
                I'm a web developer based in Paris. I started my training 2 and a half years ago to get the diploma of art director specialized in web development <a href="https://www.ecv.fr/digital/">@ECV Digital Paris</a>.
            </p>
        </div>
    </div>
{% endblock %}
