{% extends 'base.html.twig' %}

{% block body %}
    <div class="projects">
        <div class="introduction">
            <h2>Projects</h2>
            <p>
                Here are some of the projects I have been able to achieve through my company Opsone.
            </p>
        </div>
        <div class="projects-container">
            {% include './components/_scroll.html.twig' %}
            <div class="projects-slider">
                <a href="https://bio.laboulangere.com/gamme-bio/" class="project">
                    <div class="img-slider" style="background: url({{ asset('build/boulangere.png') }}) center center/cover no-repeat"></div>
                    <div class="overlay"></div>
                    <h6>La boulangère bio</h6>
                </a>
                <a href="https://deeptinvest.fr/" class="project">
                    <div class="img-slider" style="background: url({{ asset('build/deeptinvest_bg.jpg') }}) center center/cover no-repeat"></div>
                    <div class="overlay"></div>
                    <h6>Deeptinvest</h6>
                </a>
                <a href="https://www.lehalldelachanson.com/" class="project">
                    <div class="img-slider" style="background: url({{ asset('build/lehall.png') }}) center center/cover no-repeat"></div>
                    <div class="overlay"></div>
                    <h6>Le hall de la chanson</h6>
                </a>
            </div>
            <div class="pagination">
                <span class="paging-info"></span>
            </div>
        </div>
    </div>
{% endblock %}