.experience {
    & h4 {
        font-family: $ogg;
        font-weight: 400;
        text-decoration: underline;
        font-size: 1.5em;
    }

    & h5 {
        font-family: $ogg;
        font-size: 1.2em;
        font-weight: 600;
        text-decoration: underline;
    }
}