header {
  position: relative;
  z-index: 2;
  margin-bottom: 40px;
  background-color:#fff;

  nav {
    position: relative;
    height: 60px;
    text-align: center;
    & .logo {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      width: 50px;
      height: 50px;
      background: url(../images/logo.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
      border-radius: 50%;
      border: solid 1px #000;

      @include breakpoint(mobile) {
        position: relative;
        top: inherit;
        left: inherit;
        transform: inherit;
      }
    }
    ul {
      display: inline-flex;
      align-items: center;
      height: 100%;

      & li {
        margin-right: 30px;

        & a {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            transform: translateY(2px);
            width: 70%;
            height: 1px;
            background-color: $black;
            transition: .4s;
          }

          &.active {
            font-weight: bold;
          }

          &:hover{
            &:after {
              width: 100%;
            }
          }
        }
      }

      @include breakpoint(mobile) {
        display: none;
      }
    }
    @include breakpoint(mobile) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px;
    }
  }

  @include breakpoint(mobile) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-top: solid 1px $black;
    border-bottom: solid 1px $black;
  }
}