.left-to-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & a {
        position: relative;
        display: block;
        margin-bottom: 40px;

        & .diplome {
            display: flex;
            align-items: center;

            & .image-animation {
                position: relative;
                width: 60%;
                overflow: hidden;

                & .overlay1 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    transform: translateX(100%);
                    width: 200%;
                    height: 100%;
                    background-color: $black;
                    z-index: 3;
                    transition-delay: 0s;
                    transition-duration: 3s;
                }
                & .overlay2 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    z-index: 2;
                    transition-delay: .6s;
                    transition-duration: .1s;
                }
                & .overlay3 {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-color: #fff;
                    z-index: 2;
                    opacity: .5;
                    transition-delay: .6s;
                    transition-duration: .1s;
                }

                & .img {
                    position: relative;
                    display: block;
                    z-index: 1;
                }

                &.show {
                    & .overlay1{
                        transform: translateX(-200%);
                    }
                    & .overlay2{
                        transform: translateX(-100%);
                    }
                }
            }

            & .text-animation {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 60%;
                overflow: hidden;
                z-index: 6;

                & .text1,
                & .text2 {
                    font-weight: 400;
                    text-decoration: underline;
                    font-family: $ogg;
                    text-align: center;
                    font-size: 2em;
                    line-height: 1.2;
                }

                & .text1{
                    position: relative;
                    color: transparent;
                    transition-delay: 1.4s;
                    transition-duration: .1s;

                    & .overlay1 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translateX(100%);
                        width: 200%;
                        height: 100%;
                        background-color: $black;
                        z-index: 3;
                        transition-delay: .2s;
                        transition-duration: 3s;
                        transition-timing-function: ease-in-out;

                    }
                }

                & .text2{
                    position: relative;
                    color: transparent;
                    transition-delay: 1.8s;
                    transition-duration: .1s;
                    & .overlay1 {
                        position: absolute;
                        left: 0;
                        top: 0;
                        transform: translateX(100%);
                        width: 200%;
                        height: 100%;
                        background-color: $black;
                        z-index: 3;
                        transition-delay: .3s;
                        transition-duration: 3s;
                        transition-timing-function: ease-in-out;

                    }
                }

                &.show {
                    & .text1 {
                        color: $black;
                        & .overlay1 {
                            transform: translateX(-200%);
                        }
                    }

                    & .text2 {
                        color: $black;
                        & .overlay1 {
                            transform: translateX(-200%);
                        }
                    }
                }
            }
        }

        &:nth-of-type(2n) {
            right: 0;
            transform: translateX(200px);

            & .diplome {
                flex-direction: row-reverse;

                & .image-animation{
                    & .overlay1 {
                        transform: translateX(-100%);
                    }

                    &.show {
                        & .overlay1{
                            transform: translateX(200%);
                        }
                    }
                }

                & .text-animation {

                    & .text1{
    
                        & .overlay1 {
                            transform: translateX(-100%);
                        }
                    }
    
                    & .text2{
                        & .overlay1 {
                            transform: translateX(-100%);
                        }
                    }
    
                    &.show {
                        & .text1 {
                            color: $black;
                            & .overlay1 {
                                transform: translateX(200%);
                            }
                        }
    
                        & .text2 {
                            color: $black;
                            & .overlay1 {
                                transform: translateX(200%);
                            }
                        }
                    }
                }
            }
        }
    }
}