.projects-container {
    position: relative;

    & .prev-arrow {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(-60px, -50%) rotate(-180deg);
        width: 40px;
        height: 40px;
        background: url(../images/right.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    & .next-arrow {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(60px, -50%);
        width: 40px;
        height: 40px;
        background: url(../images/right.svg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    & .projects-slider {
        & .project {
            position: relative;
            display: block;
            height: 500px;
    
            & .overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.5);
                z-index: 1;
            }
    
            & h6 {
                font-family: $ogg;
                position: absolute;
                top: 50%;
                left: 0;
                transform: translate(20px, -50%);
                z-index: 2;
                margin: 0;
                font-size: 2em;
                color: #fff;
            }
        }
    }
}