@import './fonts.scss';
@import './variables.scss';
@import './normalize.scss';

@import './header';
@import './homepage';
@import './social';
@import './leftToRight';
@import './experience';

body {
    font-family: $montserrat;

    & .page-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;

        & .section-container {
            width: 65%;
            margin: 0 auto;

            & .introduction {
                max-width: 500px;
                margin: 0 0 40px 0;
                & h1 {
                  font-size: 4em;
                  font-weight: 400;
                }

                & h2 {
                    font-size: 3em;
                    font-weight: 400;
                    text-decoration: underline;
                }
            
                & p {
                  font-size: 20px;
                  font-weight: 300;
                  line-height: 30px;
                }
            }
        }
    } 
}
