@import './fonts.scss';
@import './variables.scss';
@import './normalize.scss';
@import './mixins.scss';

@import './header';
@import './homepage';
@import './social';
@import './leftToRight';
@import './experience';
@import './projects';
@import './scroll';
@import './burger';
@import './mobileMenu';
@import './slick';

body {
    font-family: $montserrat;

    & .page-container {
        position: relative;
        width: 90%;
        margin: 0 auto;
        padding-top: 10px;

        & .section-container {
            width: 65%;
            margin: 0 auto 60px auto;

            & .introduction {
                max-width: 500px;
                margin: 0 0 40px 0;
                & h1 {
                  font-family: $ogg;
                  font-size: 4em;
                  font-weight: 400;

                    @include breakpoint(mobile) {
                        font-size: 2.5em;
                    }
                }
                & h2 {
                    font-family: $ogg;
                    font-size: 3em;
                    font-weight: 400;
                    text-decoration: underline;
                }
                & p {
                  font-size: 20px;
                  font-weight: 300;
                  line-height: 30px;

                  @include breakpoint(mobile) {
                    font-size: 16px;
                    }
                }

                & a {
                    position: relative;
                    &:after {
                        content: '';
                        position: absolute;
                        top: 100%;
                        left: 0;
                        transform: translateY(2px);
                        width: 70%;
                        height: 1px;
                        background-color: $black;
                        transition: .4s;
                    }

                    &:hover {
                        &:after {
                        width: 100%;
                        }
                    }
                }
                @include breakpoint(mobile) {
                    max-width: 100%;
                }
            }

            @include breakpoint(tablet) {
                width: 70%;
            }

            @include breakpoint(mobile) {
                width: 100%;
            }
        }

        @include breakpoint(mobile) {
            padding-top: 60px;
        }
    } 
}
