<div class="social">
    <ul>
        <li>
            <a href="#" class="linkedin"></a>
        </li>
        <li>
            <a href="#" class="facebook"></a>
        </li>
        <li>
            <a href="mailto:ferjuleromain@gmail.com" class="mail">ferjuleromain@gmail.com</a>
        </li>
    </ul>
</div>